body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f2ee;
  color: #333;
}

.navbar {
  background-color: #f4f0e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  margin: 0 15px;
  color: #333;
  font-weight: 500;
}

.icons i {
  margin-left: 15px;
  cursor: pointer;
}

.about{
  margin: 1px;
  padding: 1px;
  color: #5C5A5A
}

.about-container {
  padding: 40px;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.intro-content {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 60px;
}

.intro-content img {
  width: 50%;
  border-radius: 8px;
}

.text-block {
  max-width: 40%;
}

.text-block h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.both-section{
  display: flex;
}

.story-content{
  /* background-color: #675656; */
  width: 750px;
  height: 500px;
}

.our-story h1{
  margin-left: 20px; 
  font-size: xx-large;
}

.story-para{
  display: flex;
  height: 200px;
  width: 700px;
  margin: 0px 20px 0px 20px;
  gap:30px;
  color: #3C3C3C;
}

.image2{
  height: 280px;
  width: 700px;
  margin-left: 23px;
}

.image2 img{
  height: 300px;
  width: 700px;
  border-radius: 10px;

}

.image3{
  height: 500px;
  width: 600px;
  margin-left: 20px;
}

.image3 img{
  height: 500px;
  width: 450px;
  border-radius: 10px
}

.section3{
  /* background-color: red; */
  height: 400px;
  width: 1200px;
  margin: 20px 40px 10px 40px;
  display: flex;
  justify-content: space-between;

}

.section3-text{
  /* background-color: aquamarine; */
  height: 380px;
  width: 400px;
  padding: 10px;
  color:#333;
  font-weight: 500;
  font-size: large;
}

.section3-text h1{
  padding-bottom: 1px;
}

.section3-text .box1{
  height: 320px;
  width: 400px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.box1 pre{
  font-size:20px;
}

.box1 span{
  font-size:larger;
  cursor: pointer;
}

.section3-image{
  /* background-color: rgb(11, 95, 67);  */
  height: 400px;
  width:  700px;
}

.section3-image img{
  height: 400px;
  width: 700px;
  border-radius: 10px;
}

.footer{
  /* background-color: aqua; */
  width: 1250px;
  height: 196px;
  margin: 15px 15px 0px 15px;
  display: flex;
  color: #4a4a4a;
}

.footer-text{
  width: 312px;
  height: 80px;
  font-size: medium;
}

.footer-text h1{
  font-weight: 500;
  padding-bottom: 10px;
  color: #000000;
}

.footer-links {
  width: 900px;
  height: 196px;
  margin-left: 200px;
  display: flex;
  gap: 20px;
  /* background-color: #5a3b1d; */
}   

.bold{
  font-weight: 600;
}

.boxes{
  width: 120px;
  /* background-color: aqua; */
}

.boxes p{
  padding: 5px;
}

.boxes a{
  color: inherit;
  text-decoration: none;
}