* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f2ee;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f0e6;
  height: hug(144px);
  width: hug(24px);
  gap: 16px;
  padding: 20px 40px;

  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.92);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.icons {
  font-size: 1.2rem;
}

.hero {
  background-image: url("image/wallpaperfigma.jpg");
  width: 1440;
  height: 864;
  top: -18px;
  background-size: contain;
  background-position: center;
  text-align: center;
  color: white;
  padding: 100px 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 25px;
  background-color: #5a3b1d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}

.categories {
  background-color: #f5f2e6;
  text-align: center;
  /* height: 984; */
  color: #0a0a09;
  margin: 20px;
  
  /* margin: 10px; */
}

.categories h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

.category {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 430px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.category span {
  color: white;
  padding: 10px 20px; 
  border-radius: 3px;
}

.best-sellers {
  /* background-color: #f5f2e6; */
  max-width: 1360px;
  margin-left: 30px;
  position: relative;
  
}
.name{
  margin: 10px;
}
.best-sellers h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.product {
  background-color: #f5f2ee;
  padding: 12px;
  gap: 10px;
  text-align: left;
}
.product img {
  width: 250px;
  height: 215px;
  border-radius: 0;
}
.product .title {
  font-size: 14px;
  margin-top: 10px;
  color: #111;
}
.product .price {
  font-size: 15px;
  font-weight: bold;
  margin-top: 4px;
}
.new-arrivals {
  /* background-color: #f5f2e6; */
  max-width: 1360px;
  margin-left: 30px;
  position: relative;
  margin-top: 20px;
  
}
.name1{
  margin: 10px;
}
.new-arrivals h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.gallery{
  /* display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  align-items: center; */
}

.gallery h1{
  text-align: center;
  margin-bottom: 1rem;
}

.gallery a{

}

.gallery-images{
  /* margin: 1rem; */
  height: 800x;
  /* padding: 10px; */
  padding-bottom: 8px;
  width: 300px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.disclaimer-text{
  display: flex;
}

.disclaimer-boxes{
  height: 228px;
  width: 322px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.disclaimer-boxes p{
  font-weight: 500;
}

.footer{
  /* background-color: aqua; */
  width: 1250px;
  height: 196px;
  margin: 15px 15px 0px 15px;
  display: flex;
  color: #4a4a4a;
}

.footer-text{
  width: 312px;
  height: 80px;
  font-size: medium;
}

.footer-text h1{
  font-weight: 500;
  padding-bottom: 10px;
  color: #000000;
}

.footer-links {
  width: 900px;
  height: 196px;
  margin-left: 200px;
  display: flex;
  gap: 20px;
  /* background-color: #5a3b1d; */
}   

.bold{
  font-weight: 600;
}

.boxes{
  width: 120px;
  /* background-color: aqua; */
}

.boxes p{
  padding: 5px;
}

.boxes a{
  color: inherit;
  text-decoration: none;
}


